name: 60302700_AK_I

on:
  workflow_dispatch:
  schedule:
    - cron: '30 13 * * 1'
    - cron: '0 11 * * 1'
    - cron: '10 10 * * 2'
    - cron: '0 7 * * 3'
    - cron: '40 10 * * 4'

jobs:
  Automated-Booking:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python 3.x
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Req Installation
        run: pip install -r requirements.txt

      - name: Getting Current Date And Time
        id: get_datetime_win
        run: python timing.py

      - name: Date And Time
        run: |
          echo "Current Hour ${{ env.Hour }}"
          echo "Current Day ${{ env.Day }}"

      - name: Monday-Gym
        shell: powershell
        if: ${{ env.Day == 'Monday' && env.Hour >= 13 && env.Hour <= 14 }}
        run: python gym.py --pa ${{ secrets.PASS_ME }} --i ${{ secrets.ID_ME }} --ln ${{ secrets.ME_LAST_NAME }} --fn ${{ secrets.ME_FIRST_NAME }} --ca 'Male Fitness Room' --t 13.5 --fd 7

      - name: Monday-Swimming
        shell: powershell
        if: ${{ env.Day == 'Monday' && env.Hour >= 11 && env.Hour <= 12 }}
        run: python gym.py --pa ${{ secrets.PASS_ME }} --i ${{ secrets.ID_ME }} --ln ${{ secrets.ME_LAST_NAME }} --fn ${{ secrets.ME_FIRST_NAME }} --ca 'Male Fitness Room' --t 14 --fd 7

      - name: Tuesday-Swimming
        shell: powershell
        if: ${{ env.Day == 'Tuesday' && env.Hour >= 10 && env.Hour <= 11 }}
        run: python gym.py --pa ${{ secrets.PASS_ME }} --i ${{ secrets.ID_ME }} --ln ${{ secrets.ME_LAST_NAME }} --fn ${{ secrets.ME_FIRST_NAME }} --ca 'Male Swimming Pool' --t 11 --fd 7

      - name: Wednesday-Gym
        shell: powershell
        if: ${{ env.Day == 'Wednesday' && env.Hour >= 7 && env.Hour <= 8 }}
        run: python gym.py --pa ${{ secrets.PASS_ME }} --i ${{ secrets.ID_ME }} --ln ${{ secrets.ME_LAST_NAME }} --fn ${{ secrets.ME_FIRST_NAME }} --ca 'Male Fitness Room' --t 13.5 --fd 7

      - name: Thursday-Gym
        shell: powershell
        if: ${{ env.Day == 'Thursday' && env.Hour >= 10 && env.Hour <= 11 }}
        run: python gym.py --pa ${{ secrets.PASS_ME }} --i ${{ secrets.ID_ME }} --ln ${{ secrets.ME_LAST_NAME }} --fn ${{ secrets.ME_FIRST_NAME }} --ca 'Male Fitness Room' --t 13.5 --fd 7
